* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}
body {
  padding-top: 44px;
}
.navbar {
  width: 100vw;
  height: 44px;
  top: 0;
  left: 0;
  background-color: #f5f5f7;
  opacity: 80%;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 12px;
  font-weight: 400;
}
.contents {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}
.icon {
  display: flex;
  gap: 24px;
}
.navimg {
  width: 14px;
  height: 14px;
}
.navimg:nth-of-type(3) {
  display: none;
}
.donation {
  width: 100vw;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}
.ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  color: #f5f5f7;
}
.ai p:nth-child(1) {
  font-size: 52px;
  font-weight: 600;
  padding-bottom: 16px;
}
.ai p:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 20px;
}
.ai:first-child {
  width: 100vw;
  height: 692px;
  background: url(./Background.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 12px;
}
.ai:last-child {
  width: 100vw;
  height: 692px;
  background: url(./Figure.png);
  background-position: center;
  background-size: cover;
  margin-bottom: 12px;
}
.herobutton {
  display: flex;
  gap: 16px;
}
.ai:nth-child(1) span:nth-child(1) {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ai:nth-child(1) span:nth-child(2) {
  width: 68px;
  height: 44px;
  color: #2997ff;
  border: 1px solid #2997ff;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ai:nth-child(2) span:nth-child(1) {
  width: 123px;
  height: 44px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ai:nth-child(2) span:nth-child(2) {
  width: 68px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gift {
  width: 100vw;
  height: 692px;
  background: url(./Background-2.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.gift_text p {
  display: flex;
  justify-content: center;
}
.gift_text p:nth-child(1) {
  padding-top: 446px;
  font-size: 52px;
  font-weight: 600;
  padding-bottom: 12px;
}
.gift_text p:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 16px;
}
.gift_text p:nth-child(3) {
  width: 114px;
  height: 44px;
  border-radius: 999px;
  background-color: #0071e3;
  color: #ffffff;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
}
.bigcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  gap: 12px;
  margin-left: 12px;
  margin-right: 12px;
  grid-auto-rows: 580px;
}
.container1 {
  background: url(./product2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
.container1 p:first-of-type {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.container1 p:last-child {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 324px;
  background: linear-gradient(
    to right,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 50%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 53px;
}
.ipad_air {
  margin-bottom: 9px;
}
.ipad_air_button {
  display: flex;
  gap: 16px;
  padding-top: 20px;
}
.ipad_air_button span:first-child {
  width: 115px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0071e3;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipad_air_button span:last-child {
  width: 68px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #2997ff;
  color: #2997ff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  background: url(./product6.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 p:first-child {
  font-size: 36px;
  font-weight: 600;
  color: #f5f5f7;
  padding-top: 401px;
  padding-bottom: 2px;
}
.container2 p:nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  color: #f5f5f7;
  padding-bottom: 10px;
  text-align: center;
}
.airpod_button {
  display: flex;
  gap: 16px;
}
.airpod_button span:first-child {
  width: 115px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0071e3;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.airpod_button span:last-child {
  width: 68px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #2997ff;
  color: #2997ff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container3 {
  background: url(./product1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}
.watch {
  width: 152px;
  height: 61px;
  margin-bottom: 4px;
}
.container3 p {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 16px;
  text-align: center;
}
.watch_button {
  display: flex;
  gap: 16px;
}
.watch_button span:first-child {
  width: 115px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0071e3;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch_button span:last-child {
  width: 68px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #2997ff;
  color: #2997ff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container4 {
  background: url(./product5.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
}
.container4 p:first-child {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 2px;
}
.container4 p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.macbook_button {
  display: flex;
  gap: 16px;
  padding-top: 10px;
}
.macbook_button span:first-child {
  width: 115px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0071e3;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.macbook_button span:last-child {
  width: 68px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #2997ff;
  color: #2997ff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container5 {
  background: url(./product4.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  margin-bottom: 12px;
}
.trade {
  width: 161px;
  height: 39px;
  margin-bottom: 4px;
}
.container5 p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
}
.trade_button {
  width: 167px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0071e3;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container6 {
  background: url(./product3.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  margin-bottom: 12px;
}
.card {
  margin-bottom: 4px;
}
.container6 p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
}
.card_button {
  display: flex;
  gap: 16px;
}
.card_button span:first-child {
  width: 115px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0071e3;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_button span:last-child {
  width: 112px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #2997ff;
  color: #2997ff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroller {
  width: 100vw;
  height: fit-content;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.scroller_card {
  width: 1250px;
  height: 668px;
  display: inline-block;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
.scroller_card:nth-child(1) {
  background: url(./card3.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card:nth-child(2) {
  background: url(./card1.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card:nth-child(3) {
  background: url(./card2.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card:nth-child(4) {
  background: url(./card3.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card:nth-child(5) {
  background: url(./card1.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card:nth-child(6) {
  background: url(./card2.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card:nth-child(7) {
  background: url(./card3.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card:nth-child(8) {
  background: url(./card1.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card:nth-child(9) {
  background: url(./card2.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card:nth-child(10) {
  background: url(./card3.jpg);
  background-size: cover;
  margin-right: 16px;
}
.scroller_card p:nth-child(1) {
  width: 133px;
  height: 44px;
  border-radius: 999px;
  background-color: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 400;
}
.scroller_card p:nth-child(2) {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
.bold {
  font-weight: 700;
}
.info {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 566px;
  left: 70px;
}
.tablist {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
}
.tab {
  width: 8px;
  height: 8px;
  background-color: #0000006b;
  opacity: 42%;
  margin-inline: 7px;
  border-radius: 100%;
  transition: opacity ease 250ms;
}
.tab:hover {
  background-color: #000000cc;
  opacity: 80%;
}
.animation_container {
  width: 100vw;
  overflow: hidden;
}
.animation {
  width: fit-content;
  display: flex;
  gap: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  animation: slider 43.3s linear infinite;
}
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4330px);
  }
}
.animation div {
  width: 417px;
  height: 236px;
}
.ani_card1 {
  background: url(./img1.jpg);
  background-size: cover;
  position: relative;
}
.ani_card1 p {
  position: absolute;
  left: 15px;
  bottom: 20px;
}
.ani_card2 {
  background-color: #1b2632;
  display: flex;
  align-items: center;
  position: relative;
}
.ani_card2 img {
  width: 196px;
  height: 196px;
  border-radius: 8px;
  position: absolute;
  left: 15px;
  bottom: 20px;
}
.ani_card2 p {
  position: absolute;
  left: 226px;
}
.ani_card3 {
  background: url(./img3.jpg);
  background-size: cover;
  position: relative;
}
.ani_card3 p {
  position: absolute;
  left: 15px;
  bottom: 20px;
}
.ani_card4 {
  background: url(./img4.jpg);
  background-size: cover;
  position: relative;
}
.ani_card4 p {
  position: absolute;
  left: 15px;
  bottom: 20px;
}
.ani_card5 {
  background-color: #ebb799;
  display: flex;
  align-items: center;
  position: relative;
}
.ani_card5 img {
  width: 196px;
  height: 196px;
  border-radius: 8px;
  position: absolute;
  left: 15px;
  bottom: 20px;
}
.ani_card5 p {
  position: absolute;
  left: 226px;
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 999px;
  background-color: #ffffff;
  position: absolute;
  z-index: 10;
}
.move:hover .overlay {
  opacity: 1;
  transition: all 0.5s ease-in;
}
.move:hover .button {
  opacity: 1;
  transition: all 0.5s ease;
}
.animation:hover {
  animation-play-state: paused;
}
.animation:hover .move {
  filter: grayscale(1);
  transition: all 0.5s ease-in;
}
.animation .move:hover {
  filter: grayscale(0);
}
@media (max-width: 768px) {
  .donation {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar {
    height: 48px;
    justify-content: space-between;
    padding: 0px 16px 0px 16px;
  }
  .contents {
    display: none;
  }
  .navimg:last-child {
    display: block;
  }
  .ai p:nth-child(1) {
    font-size: 42px;
  }
  .ai p:nth-child(2) {
    font-size: 22px;
  }
  .ai:first-child {
    height: 650px;
  }
  .ai:last-child {
    height: 650px;
  }
  .gift_text p:nth-child(1) {
    font-size: 42px;
  }
  .gift_text p:nth-child(2) {
    font-size: 22px;
  }
  .gift {
    height: 650px;
  }
  .bigcontainer {
    grid-auto-rows: 490px;
  }
  .scroller_card {
    width: 689px;
    height: 368px;
  }
  .info {
    top: 305px;
    left: 30px;
  }
  .scroller_card p:nth-child(1) {
    width: 108px;
    height: 36px;
    font-size: 14px;
  }
  .animation div {
    width: 286px;
    height: 161px;
  }
  .ani_card2 img {
    width: 120px;
    height: 120px;
  }
  .ani_card5 img {
    width: 120px;
    height: 120px;
  }
  .animation {
    margin-bottom: 35px;
  }
  .ani_card1 p,
  .ani_card2 p,
  .ani_card3 p,
  .ani_card4 p,
  .ani_card5 p {
    color: #000000;
    top: 176px;
    left: 0px;
  }
}
@media (max-width: 390px) {
  .donation {
    padding-left: 20px;
    padding-right: 20px;
  }
  .ai:first-child {
    background: url(./Figure-4.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    padding-top: 350px;
  }
  .ai:last-child {
    background: url(./Figure-3.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    padding-top: 36px;
  }
  .ai p:nth-child(1) {
    font-size: 30px;
  }
  .ai p:nth-child(2) {
    font-size: 18px;
  }
  .herobutton {
    display: flex;
    gap: 16px;
  }
  .ai:nth-child(1) span:nth-child(1) {
    width: 107px;
    height: 36px;
    font-size: 14px;
  }
  .ai:nth-child(1) span:nth-child(2) {
    width: 66px;
    height: 36px;
    font-size: 14px;
  }
  .gift_text p:nth-child(1) {
    font-size: 30px;
    padding-top: 350px;
  }
  .gift_text p:nth-child(2) {
    font-size: 18px;
  }
  .gift {
    height: 500px;
  }
  .bigcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
  }
  .scroller_card {
    width: 274px;
    height: 495px;
  }
  .info {
    top: 305px;
    left: 30px;
  }
  .scroller_card p:nth-child(1) {
    display: none;
  }
  .scroller_card p:nth-child(2) {
    display: none;
  }
  .animation div {
    width: 238px;
    height: 134px;
  }
  .ani_card2 img {
    width: 100px;
    height: 100px;
  }
  .ani_card5 img {
    width: 100px;
    height: 100px;
  }
  .animation {
    margin-bottom: 35px;
  }
  .ani_card1 p,
  .ani_card2 p,
  .ani_card3 p,
  .ani_card4 p,
  .ani_card5 p {
    color: #000000;
    top: 144px;
    left: 0px;
  }
}
