* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}
body {
  padding-top: 44px;
  background-color: #f5f5f7;
}
.navbar {
  width: 100vw;
  height: 44px;
  top: 0;
  left: 0;
  background-color: #f5f5f7;
  opacity: 80%;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 12px;
  font-weight: 400;
  z-index: 10;
}
.navimg {
  width: 14px;
  height: 14px;
}
.rainbow {
  width: 100vw;
}
.bar {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #ffffff;
}
.header {
  padding: 80px 140px;
  display: flex;
  justify-content: space-between;
}
.head {
  font-size: 44px;
  font-weight: 700;
  display: flex;
  gap: 32px;
}
.head p:nth-child(1) {
  background: linear-gradient(to right, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head p:nth-child(2) {
  color: #6e6e73;
}
.support {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.support_info {
  display: flex;
  gap: 16px;
}
.support_img {
  width: 35px;
  height: 35px;
}
.support_details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.support_details p {
  font-weight: 700;
}
.products {
  padding-left: 140px;
  margin-bottom: 60px;
  display: flex;
  gap: 12px;
}
.item_img img {
  width: 120px;
  height: 78px;
}
.item_name {
  font-size: 14px;
  font-weight: 700;
  margin-top: 18px;
  text-align: center;
}
.sections {
  margin-bottom: 24px;
}
.title {
  padding-left: 140px;
  display: flex;
  gap: 4px;
  font-size: 24px;
  font-weight: 700;
}
.title p:nth-child(1) {
  background: linear-gradient(to right, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title p:nth-child(2) {
  color: #6e6e73;
}
.scroller {
  padding-left: 140px;
  width: 100%;
  height: fit-content;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 60px;
}
::-webkit-scrollbar {
  display: none;
}
.latest_card {
  width: 400px;
  height: 500px;
  padding: 30px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
#board {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}
.latest_card p:nth-child(1) {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 12px;
}
.latest_card p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}
.latest_card p:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
}

.latest_card:nth-child(1) {
  background: url(./1.jpeg);
  background-size: cover;
  background-position: center;
}
.latest_card:nth-child(2) {
  background: url(./2.jpeg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.latest_card:nth-child(3) {
  background: url(./3.jpeg);
  background-size: cover;
  background-position: center;
}
.latest_card:nth-child(4) {
  background: url(./4.jpeg);
  background-size: cover;
  background-position: center;
}
.latest_card:nth-child(5) {
  background: url(./5.jpeg);
  background-size: cover;
  background-position: center;
  text-wrap: wrap;
}
.latest_card:nth-child(6) {
  background: url(./6.jpeg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.latest_card:nth-child(7) {
  background: url(./7.jpeg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.latest_card:nth-child(8) {
  background: url(./8.jpeg);
  background-size: cover;
  background-position: center;
}
.latest_card:nth-child(9) {
  background: url(./9.jpeg);
  background-size: cover;
  background-position: center;
}
.latest_card:nth-child(10) {
  background: url(./10.jpeg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.latest_card:nth-child(11) {
  background: url(./11.jpeg);
  background-size: cover;
  background-position: center;
}
.big_perso_card {
  width: 400px;
  height: 500px;
  background: url(./bigairpodthing.jpg);
  background-size: cover;
  padding: 30px;
  padding-top: 53px;
  text-wrap: wrap;
}
.big_perso_card_details {
  font-size: 26px;
  font-weight: 700;
}
.perso_card1 {
  background-color: #ffffff;
  width: 313px;
  height: 500px;
  padding: 30px;
  padding-top: 71px;
}
.perso_card {
  background-color: #ffffff;
  width: 313px;
  height: 500px;
  padding: 30px;
  padding-top: 71px;
  position: relative;
}
.perimg {
  width: 230px;
  height: 230px;
  display: flex;
  justify-self: center;
}
.colors {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 25px;
  margin-bottom: 21px;
}
.color {
  width: 12px;
  height: 12px;
  display: flex;
}
.perso_card1 p:nth-of-type(1) {
  font-size: 12px;
  font-weight: 700;
  color: #b64400;
}
.perso_card1 p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 52px;
}
.perso_card1 p:nth-of-type(3) {
  font-size: 14px;
  font-weight: 400;
}
.perso_card p:nth-of-type(1) {
  margin-top: 58px;
  font-size: 12px;
  font-weight: 700;
  color: #b64400;
}
.perso_card p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 52px;
  text-wrap: wrap;
}
.perso_card p:nth-of-type(3) {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 452px;
  left: 30px;
}
.big_hol_card {
  width: 400px;
  height: 500px;
  background: url(./bigifonthing.jpg);
  background-size: cover;
  padding: 30px;
  padding-top: 53px;
  text-wrap: wrap;
}
.big_hol_card_details {
  font-size: 26px;
  font-weight: 700;
}
.hol_card {
  background-color: #ffffff;
  width: 313px;
  height: 500px;
  padding: 30px;
  padding-top: 71px;
  position: relative;
}
.hol_card p:nth-of-type(1) {
  font-size: 12px;
  font-weight: 700;
  color: #b64400;
}
.hol_card p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 700;
  text-wrap: wrap;
}
.hol_card p:nth-of-type(3) {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 452px;
  left: 30px;
}
.hol_card1 {
  background-color: #ffffff;
  width: 313px;
  height: 500px;
  padding: 30px;
  padding-top: 71px;
  position: relative;
}
.hol_card1 p:nth-of-type(1) {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}
.hol_card1 p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 700;
  text-wrap: wrap;
}
.hol_card1 p:nth-of-type(3) {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 452px;
  left: 30px;
}
.only_card {
  width: 480px;
  height: 500px;
  padding: 30px;
  background-color: #ffffff;
}
.only_card:nth-of-type(1) {
  background-image: url(./pickup.jpg);
  background-size: cover;
  font-size: 26px;
  font-weight: 700;
  text-wrap: wrap;
  padding-top: 50px;
}
.only_card:nth-of-type(4) {
  background-image: url(./tradesomething2.jpg);
  background-size: cover;
}
.only_card:nth-of-type(5) {
  background-image: url(./person.jpg);
  background-size: cover;
}
.only_card:nth-of-type(4) h6 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.only_card:nth-of-type(5) h6 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.only_card:nth-of-type(4) p {
  font-size: 25px;
  font-weight: 700;
  text-wrap: wrap;
}
.only_card:nth-of-type(5) p {
  font-size: 25px;
  font-weight: 700;
  text-wrap: wrap;
}
.card_box {
  width: 313px;
  height: 500px;
}
.box {
  width: 313px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 30px;
  padding-top: 82px;
  font-size: 22px;
  font-weight: 700;
  text-wrap: wrap;
}
.exp_card {
  width: 480px;
  height: 500px;
  background-color: #ffffff;
  padding: 30px;
}
.exp_card:nth-of-type(1) {
  background: url(./applemusic.jpg);
  background-size: cover;
}
.exp_card:nth-of-type(2) {
  background: url(./charliebrown.png);
  background-size: cover;
}
.exp_card:nth-of-type(3) {
  background: url(./sixservices.jpg);
  background-size: cover;
}
.exp_card:nth-of-type(4) {
  background: url(./appleai.jpg);
  background-size: cover;
}
.exp_card h6 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
}
.exp_card:nth-of-type(2) h6 {
  color: #f5f5f7;
}
.exp_card:nth-of-type(2) h1 {
  color: #ffffff;
}
.exp_card h1 {
  font-size: 26px;
  font-weight: 700;
  text-wrap: wrap;
  padding-top: 8px;
}
.exp_card:nth-of-type(1) p {
  font-size: 17px;
  font-weight: 400;
  text-wrap: wrap;
  padding-top: 10px;
}
.spec_card {
  width: 400px;
  height: 500px;
  background-color: #ffffff;
  padding: 30px;
}
.spec_card:nth-of-type(1) {
  background: url(./carrierdeals.jpg);
  background-size: cover;
}
.spec_card:nth-of-type(2) {
  background: url(./education.jpg);
  background-size: cover;
}
.spec_card:nth-of-type(3) {
  background: url(./refurbished.jpg);
  background-size: cover;
}
.spec_card:nth-of-type(4) {
  background: url(./biznes.jpg);
  background-size: cover;
}
.spec_card:nth-of-type(5) {
  background: url(./goverment.jpg);
  background-size: cover;
}
.spec_card h6 {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 7px;
}
.spec_card h1 {
  font-size: 26px;
  font-weight: 700;
  text-wrap: wrap;
}
.spec_card:nth-of-type(4) h1 {
  color: #ffffff;
}
.spec_card p {
  font-size: 17px;
  font-weight: 400;
  text-wrap: wrap;
}
.links {
  padding-left: 140px;
}
.links h2 {
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 24px;
}
.buttons {
  padding-bottom: 100px;
  display: flex;
  gap: 12px;
}
.buttons p {
  height: 40px;
  border-radius: 999px;
  border: 1px solid #1d1d1f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d1d1f;
}
.buttons p:nth-of-type(1) {
  width: 125px;
}
.buttons p:nth-of-type(2) {
  width: 137px;
}
.buttons p:nth-of-type(3) {
  width: 91px;
}
.buttons p:nth-of-type(4) {
  width: 114px;
}
